.app {
  width: 45em;
  margin: 5em auto 0 auto;
  font-family: 'PT Mono', monospace;
  font-size: 18px;
}

.editor {
  padding: 0.5em 1em;
  min-height: 20em;
  color: #333;
  background-color: #eee;
  outline: none;
  border: none;
}

.editor:hover {
  outline: none;
  border: none;
}
